<main class='settings-page'>
  <div class="settings-page-container">
    <div class="left-bar">
      {{!--<UserAvatar
        @url={{this.user.avatarUrl}}
        @name={{this.user.fullName}}
        @size={{40}}
        @providerIcon={{vcs-icon this.user.vcsType}}
        class="navigation-avatar navigation-avatar--{{this.user.provider}}"
      />--}}
      <img class="navigation-avatar avatar-img" src="http://placehold.it/36x36">

      <div class="left-bar-container fs-18">
        <LinkTo @class="left-bar-link" @route="account.security">
            Security
        </LinkTo>
        <LinkTo @class="left-bar-link" @route="account.change-password">
            Change password
        </LinkTo>
        <LinkTo @class="left-bar-link" @route="account.change-email">
            Change email
        </LinkTo>
        <LinkTo @class="left-bar-link" @route="account.remove-account">
            Remove account
        </LinkTo>
      </div>
    </div>
    {{yield}}
  </div>
</main>