<div class="settings-page-container settings-page-container--center">
  <h2 class='text-black ta-c fs-36 mt-24 mb-32'>Change Password</h2>
  <div>
    <h3 class="fs-14 fw-600 tt-u">Old Password</h3>
    <div class='entry-field password'>
      <Input
        id='oldPassword'
        @type='password'
        @value={{this.oldPassword}}
        class='text-field'
      />
      <div class='password-eye-icon' {{ on 'click' (fn this.togglePassword 'oldPassword') }}>
        <SvgImage @name="icon-visible" />
      </div>
    </div>
  </div>
  <div class="mt-16">
    <h3 class="fs-14 fw-600 tt-u">New Password</h3>
    <div class='entry-field password'>
      <Input
        id='newPassword'
        @type='password'
        @value={{this.newPassword}}
        class='text-field'
      />
      <div class='password-eye-icon' {{ on 'click' (fn this.togglePassword 'newPassword') }}>
        <SvgImage @name="icon-visible" />
      </div>
    </div>
    <h3 class="fs-14 fw-600 tt-u">Password confirmation</h3>
    <div class='entry-field password'>
      <Input
        id='passwordConfirmation'
        @type='password'
        @value={{this.passwordConfirmation}}
        class='text-field'
      />
      <div class='password-eye-icon' {{ on 'click' (fn this.togglePassword 'passwordConfirmation') }}>
        <SvgImage @name="icon-visible" />
      </div>
    </div>
    <div class='password-requirements'>
      Password must include at least 6 characters including at least one non-alphabetic character (number or special character)
    </div>
  </div>
  <div>
    <LinkTo @route='index' @tagName='button' class='button--white w-156 no-border'>Cancel</LinkTo>
    <button type='button' class='button--green w-156 ml-20' {{ on 'click' this.changePassword }}>Change Password</button>
  </div>
</div>
