<div class='first-setup'>
  <h2 class='no-servers'>You don’t have any Server yet</h2>
  <h3 class='find-server'>Enter URL for finding new Server</h3>
  <div class='setup-input'>
    <h3>Find a server</h3>
    <div class='entry-field'>
      <Input
        @id='serverUrl'
        @value={{this.serverUrl}}
        @type='text'
        @placeholder='Enter URL'
        class='text-field'
        {{ on 'keyup' this.searchByUrl }}
      />
    </div>
  </div>
  {{#if (and this.searchMode this.foundServer)}}
  <Servers::SearchResult
    @foundServer={{this.foundServer}}
    @clearSearch={{this.clearSearch}}
  />
  {{else if this.searchRunning}}
  <LoadingIndicator />
  {{else}}
  {{#if (and this.searchMode (not this.foundServer))}}
  <h3 class='or'>You don’t have any Server with this URL yet</h3>
  {{else}}
  <h3 class='or'>or</h3>
  {{/if}}
  <Servers::Add />
  {{/if}}
</div>