<div class="organizations-page-header">
  <div class="left-bar">
    <div class="page-path">
      <LinkTo @route="repositories">Home</LinkTo> / <LinkTo @route="organization.users" @model={{this.args.organization.id}}>{{this.args.organization.name}}</LinkTo> / <span class="page-path-active">{{this.routeName}}</span>
    </div>
    <UserAvatar
      @name={{this.user.name}}
      @size={{40}}
      class="navigation-avatar"
    />
    <span class="user-name">{{this.user.name}}</span>
  </div>
</div>
<div class='organizations-page'>
  <div class='organizations-page-main'>
    <div class='content-box'>
      {{outlet}}
    </div>
  </div>
</div>
