<div class="profile menu {{this.auth.state}} {{if this.isMenuOpen 'open'}}">
  {{#if this.auth.signedOut}}

    <button
      class="auth-button signed-out pointer"
      type="button"
      {{on 'click' (action 'signIn')}}
    >
      Login
    </button>
    <button
      class="auth-button create-account pointer"
      type="button"
      {{on 'click' (action 'signUp')}}
    >
      Create account
    </button>

  {{else if this.auth.signedIn}}

    <div
      data-test-header-account-link="true"
      class="pointer navigation-anchor navigation-profile-link signed-in"
      {{on 'click' (action 'toggleMenu')}}
    >
      {{!-- 
      <UserAvatar
        @url={{this.user.avatarUrl}}
        @name={{this.user.fullName}}
        @size={{40}}
        @providerIcon={{vcs-icon this.user.vcsType}}
        class="navigation-avatar navigation-avatar--{{this.user.provider}}"
      />
      <SvgImage @name="icon-dropdown-arrow" @class="icon" />
      --}}
    </div>

    <ul class="navigation-nested">

      <li class="username navigation-nested__header">
        <div class="username__text">
          {{this.userName}}
        </div>
      </li>

      <li>
        <LinkTo
          @route="sign-in"
          @title="Your profile"
          class="signed-in topbar-menu-item"
        >
          <SvgImage @name="icon-settings" @class="icon" />
          <div class="topbar-menu-item__label">
            Settings
          </div>
        </LinkTo>
      </li>

      <li>
        <a
          data-test-signout-link
          href="/"
          title="Sign out of this account"
          class="topbar-menu-item"
          {{action "signOut"}}
        >
          <SvgImage @name="icon-sign-out" @class="icon" />
          <div class="topbar-menu-item__label">
            Sign Out
          </div>
        </a>
      </li>
    </ul>

  {{/if}}
</div>