{{#unless this.isFeedbackShown}}
<div class="settings-page-container settings-page-container--center">
  <h2 class='text-black ta-c fs-36 mt-24 mb-24'>Remove Account</h2>
    <p class="m-0">Are you sure you want to remove your account?
        This action cannot be undone. By removing the account you will lose all of your information and settings!
    </p>
    <div class="mt-24">
      <LinkTo @route='index' @tagName='button' class='button--white no-border fs-16'>Never mind, keep my account</LinkTo>
      <button type='button' class='button--red w-156 ml-50 fs-16' {{ on 'click' this.showFeedback }}>Remove Account</button>
    </div>
</div>
{{else}}
<div class="settings-page-container settings-page-container--center w-680">
  <h2 class='text-black ta-c fs-36 mt-24 mb-24'>We’re sorry to see you go</h2>
  <p class="m-0 w-600">We are constantly working on making Travis CI VCS Proxy Service a better place for anyone,
    and we value your honest feedback about your experience with us and the improvements we can make for our future collaboration
  </p>
  <p class="w-600 mt-24 mb-24">Before you remove your account, please choose the reasons why you are leaving</p>
  <select name="reasons" class="reasons-buttons" onchange={{action 'onSelectReason' value="target.value"}} multiple>
    <option value="1">Price</option>
    <option value="2">Support</option>
    <option value="3">Build Times</option>
    <option value="4">End Of Project</option>
    <option value="5">Other</option>
  </select>
  <Textarea
    @id='userFeedback'
    @value={{this.feedbackText}}
    @class='reason-textarea mb-32'
    @placeholder='Please list any other reasons why you might be leaving.'
  />
  <h2 class='text-black ta-c'>Confirmation</h2>
  <p>Enter your current Travis CI VCS Proxy Service password to confirm your decision</p>
  <div>
    <h3 class="fs-14 fw-600 tt-u">Password</h3>
    <div class='entry-field password'>
      <Input
        @id='password'
        type='password'
        @value={{this.password}}
        class='text-field'
      />
      <div class='password-eye-icon' {{ on 'click' this.togglePassword }}>
        <SvgImage @name="icon-visible" />
      </div>
    </div>
  </div>
  <div class="mt-16">
    <LinkTo @route='index' @tagName='button' class='button--white no-border fs-16'>I changed my mind</LinkTo>
    <button type='button' class='button--red w-156 ml-20 fs-16' {{ on 'click' this.removeAccount }}>Remove Account</button>
  </div>
</div>
{{/unless}}
