<div class="servers-page-header">
  <div class="left-bar">
    <div class="page-path">
      <LinkTo @route="servers">VCS Servers</LinkTo> / <LinkTo @route="server.edit" @model={{this.args.repo.serverProvider.id}}>{{this.args.repo.serverProvider.name}}</LinkTo> / <LinkTo @route="server.repositories" @model={{this.args.repo.serverProvider.id}}>repositories</LinkTo> / <span class="page-path-active">{{this.args.repo.name}}</span>
    </div>
    <UserAvatar
      @name={{this.user.name}}
      @size={{40}}
      class="navigation-avatar"
    />
    <span class="user-name">{{this.user.name}}</span>
  </div>
</div>
{{outlet}}
