<div class="organizations-page-header">
  <div class="left-bar">
    <div class="page-path">
      <LinkTo @route="index">Home</LinkTo> / <LinkTo @route="organization.edit" @model={{this.args.repo.organization.id}}>{{this.args.repo.organization.name}}</LinkTo> / <LinkTo @route="repositories">repositories</LinkTo> / <span class="page-path-active">{{this.args.repo.name}}</span>
    </div>
    <UserAvatar
      @name={{this.user.name}}
      @size={{40}}
      class="navigation-avatar"
    />
    <span class="user-name">{{this.user.name}}</span>
  </div>
</div>
{{outlet}}
