<h2 class='mt-64 text-black'>Setup new Password</h2>
<div>
  <h3>New Password</h3>
  <div class='entry-field password'>
    <Input
      id='password'
      @value={{this.newPassword}}
      @type='password'
      class='text-field'
    />
    <div class='password-eye-icon' {{ on 'click' (fn this.togglePassword 'password') }}>
      <SvgImage @name="icon-visible" />
    </div>
  </div>
  <h3>Password Confirmation</h3>
  <div class='entry-field password'>
    <Input
      id='passwordConfirmation'
      @value={{this.passwordConfirmation}}
      @type='password'
      class='text-field'
    />
    <div class='password-eye-icon' {{ on 'click' (fn this.togglePassword 'passwordConfirmation') }}>
      <SvgImage @name="icon-visible" />
    </div>
  </div>
  <div class='password-requirements'>
    Password must include at least 6 characters including at least one non-alphabetic character (number or special character)
  </div>
</div>
<div>
  <button type='button' class='button button--green button--very-large' {{ on 'click' this.resetPassword }}>Set New Password</button>
</div>