<Modal
  @isVisible={{@isOpen}}
  @onClose={{fn @onClose}}
  @closeButton={{true}}
>
  <div class="recovery-modal flex flex--v-center flex--center flex--col">
    <h2>Two-Factor Authentication Backup Codes</h2>
    <h3>Your reset codes. If you lose access to your authentication device, you can use one of these emergency recovery codes to login to your account. Each code may be used only once. Please print them out and copy offline.</h3>
    <table>
      {{#each @codes as |code|}}
      <tr>
        <td>{{code}}</td>
      </tr>
      {{/each}}
    </table>
    <div>
      <CopyButton
        @text={{@joinedCodes}}
        class='button--green-outline w-156 no-print'
      >
        Copy
      </CopyButton>
      <button type='button' class='button--green w-156 ml-20 no-print' {{ on 'click' this.printPage }}>Print</button>
    </div>
  </div>
</Modal>
