{{#unless this.servers.isLoading}}
<div class='servers-list'>
<table>
  <colgroup>
    <col class='col-15' />
    <col class='col-30' />
    <col class='col-7' />
    <col class='col-9' />
    <col class='col-12' />
    <col class='col-12' />
    <col class='col-7' />
    <col class='col-7' />
  </colgroup>
  <tr>
    <th>Server name</th>
    <th>Connection URL</th>
    <th>Type</th>
    <th>User access</th>
    <th>Repositories</th>
    <th>Authorize data</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  {{#each this.servers as |server|}}
  <tr>
    <td>{{server.name}}</td>
    <td>{{server.url}}</td>
    <td class='capitalize-text'>{{server.type}}</td>
    <td>{{server.permission}}</td>
    <td>
      <LinkTo
        @route="server.repositories"
        @tagName='button'
        @model={{server.id}}
        @class='button--green-outline'
      >
        View
      </LinkTo>
    </td>
    <td>
      <LinkTo
        @route="server.authorization-data-refresh"
        @tagName='button'
        @model={{server.id}}
        @class='button--green'
      >
        Connect
      </LinkTo>
    </td>
    <td class='col-centered'>
      <LinkTo
        @route="server.edit"
        @model={{server.id}}
        @title="Update server information"
        @disabled={{server.isUser}}
      >
        <EmberTooltip @text="Update server information" />
        <SvgImage @name="icon-edit" @class="icon" />
      </LinkTo>
    </td>
    <td class='col-centered'>
      <LinkTo
        @route="server.remove"
        @model={{server.id}}
        @title="Delete this server"
        @disabled={{server.isUser}}
      >
        <EmberTooltip @text="Delete this server" />
        <SvgImage @name="icon-delete" @class="icon" />
      </LinkTo>
    </td>
  </tr>
  {{/each}}
</table>
</div>
<PaginationNavigation
  @collection={{this.servers}}
  @route="servers"
  @queryParam="page"
  @inner={{3}}
  @outer={{1}}
/>
{{else}}
<LoadingIndicator />
{{/unless}}