<div class='top-bar'>
  <div class='setup-input'>
    <h3>Find a repository</h3>
    <div class='entry-field'>
      <Input
        @id='repoSearch'
        @value={{this.repoSearch}}
        @type='text'
        class='text-field'
        {{ on 'keyup' this.filter }}
      />
    </div>
  </div>
  <nav
    class="option-button {{if this.isSortMenuOpen 'is-open'}}"
    {{on 'click' (fn (mut this.isSortMenuOpen) true)}}
    {{on 'mouseleave' (fn (mut this.isSortMenuOpen) false)}}
  >
    <button class="option-display" type="button" title="Show more options">
      <span class="label-align">
        SORT BY
        <SvgImage @name="icon-dropdown-arrow" @class="icon" />
      </span>
    </button>
    <ul class="option-dropdown">
      <li>
        <button
          type="button"
          onclick={{action this.changeSort 'name'}}
        >
          Name
        </button>
      </li>
      <li>
        <button
          type="button"
          onclick={{action this.changeSort 'last_synced_at'}}
        >
          User access
        </button>
      </li>
      <li>
        <button
          type="button"
          onclick={{action this.changeSort 'last_synced_at'}}
        >
          Last updated
        </button>
      </li>
    </ul>
  </nav>
</div>
{{#unless this.repositories.isLoading}}
<div class='repositories-list'>
<table>
  <tr>
    <th>Repository name</th>
    <th>User access</th>
    <th>Last updated</th>
    <th>Token</th>
    <th>Update token</th>
    <th>Delete token</th>
  </tr>
  {{#each this.repositories as |repository|}}
  <tr>
    <td>{{repository.name}}</td>
    <td class='capitalize-text'>{{repository.permission}}</td>
    <td>{{pretty-date repository.lastSyncedAt}}</td>
    <td>{{repository.token}}</td>
    <td>
      <LinkTo
        @route="repository.update-token"
        @model={{repository.id}}
        @title="Update repository access token"
      >
        <EmberTooltip @text="Update repository access token" />
        <SvgImage @name="icon-edit" @class="icon" />
      </LinkTo>
    </td>
    <td>
      <LinkTo
        @route="repository.remove-token"
        @model={{repository.id}}
        @title="Delete repository"
      >
        <EmberTooltip @text="Delete repository" />
        <SvgImage @name="icon-delete" @class="icon" />
      </LinkTo>
    </td>
  </tr>
  {{/each}}
</table>
</div>
<PaginationNavigation
  @collection={{this.repositories}}
  @route="server.repositories"
  @queryParam="page"
  @inner={{3}}
  @outer={{1}}
/>
{{else}}
<LoadingIndicator />
{{/unless}}