<h1>Repositories</h1>
<div class='top-bar'>
  <div class='setup-input'>
    <h3>Find a repository</h3>
    <div class='entry-field'>
      <Input
        id='repositoryName'
        @value={{this.repoSearch}}
        @type='text'
        class='text-field'
        {{ on 'keyup' this.filter }}
      />
    </div>
  </div>

  <LinkTo class="button--green add-organization-button" @route="organizations.add">
    Add Organization
  </LinkTo>
  {{#if this.userHasOrganizations}}
  <LinkTo class="button--green add-repository-button" @route="repositories.add">
    Add Repository
  </LinkTo>
  {{/if}}
  <nav
    class="option-button {{if this.isSortMenuOpen 'is-open'}}"
    {{on 'click' (fn (mut this.isSortMenuOpen) true)}}
    {{on 'mouseleave' (fn (mut this.isSortMenuOpen) false)}}
  >
    <button class="option-display" type="button" title="Show more options">
      <span class="label-align">
        SORT BY
        <SvgImage @name="icon-dropdown-arrow" @class="icon" />
      </span>
    </button>
    <ul class="option-dropdown">
      <li>
        <button
          type="button"
          onclick={{action this.changeSort 'name'}}
        >
          Name
        </button>
      </li>
      <li>
        <button
          type="button"
          onclick={{action this.changeSort 'last_synced_at'}}
        >
          User access
        </button>
      </li>
      <li>
        <button
          type="button"
          onclick={{action this.changeSort 'last_synced_at'}}
        >
          Last updated
        </button>
      </li>
    </ul>
  </nav>
</div>
{{#if this.repositories.isLoading}}
<LoadingIndicator />
{{else}}
  {{#if this.repositories.length}}
    <div class='repositories-list'>
    <table>
      <tr>
        <th>Repository name</th>
        <th>Repository type</th>
        <th>Organization</th>
        <th>Repository URL</th>
        <th>User access</th>
        <th>Last updated</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {{#each this.repositories as |repository|}}
      <tr>
        <td>{{repository.name}}</td>
        <td>{{repository.type}}</td>
        <td>
          <LinkTo
            @route="organization.users"
            @model={{repository.organization.id}}
            title={{repository.organization.name}}
          >
            {{repository.organization.name}}
          </LinkTo>
          </td>
        <td>{{repository.url}}</td>
        <td class='capitalize-text'>{{repository.permission}}</td>
        <td>{{pretty-date repository.lastSyncedAt}}</td>
        <td>
          <LinkTo
            @route="repository.edit"
            @model={{repository.id}}
            title="Edit repository"
            @disabled={{not repository.canModify}}
          >
            <EmberTooltip @text="Edit repository" />
            <SvgImage @name="icon-edit" @class="icon" />
          </LinkTo>
        </td>
        <td>
          <LinkTo
            @route="repository.remove"
            @model={{repository.id}}
            title="Remove repository"
            @disabled={{not repository.canModify}}
          >
            <EmberTooltip @text="Remove repository" />
            <SvgImage @name="icon-delete" @class="icon" />
          </LinkTo>
        </td>
      </tr>
      {{/each}}
    </table>
    </div>
    <PaginationNavigation
      @collection={{this.repositories}}
      @route="repositories"
      @queryParam="page"
      @inner={{3}}
      @outer={{1}}
    />
  {{else}}
    <div class="no-repositories">
      You don't have any {{if this.userHasOrganizations 'repositories' 'organizations and repositories'}} yet. Add {{if this.userHasOrganizations 'repositories' 'organizations and repositories'}} to begin work.
      </div>
  {{/if}}
{{/if}}
